@import "font-awesome-sprockets";
@import "font-awesome";

.results-block {
  display: inline-block;
}

.no-padding {
  padding: 0 !important;
}

footer {
  padding-top: 5px;
  margin-top: 375px;
  border-top: 1px solid #eaeaea;
  color: #777;
  position: auto;
}

footer.hover {
  color: #222;
}

footer small {
  float: left;
}
